version: "3.8"

services:
  users:
    build: ./users
    container_name: desafio5_users
    ports:
      - "5004:5004"
    networks:
      - desafio5_net
    restart: unless-stopped

  orders:
    build: ./orders
    container_name: desafio5_orders
    ports:
      - "5005:5005"
    networks:
      - desafio5_net
    restart: unless-stopped

  gateway:
    build: ./gateway
    container_name: desafio5_gateway
    ports:
      - "8082:8082"
    environment:
      USERS_HOST: users
      USERS_PORT: 5004
      ORDERS_HOST: orders
      ORDERS_PORT: 5005
    depends_on:
      - users
      - orders
    networks:
      - desafio5_net
    restart: unless-stopped

networks:
  desafio5_net:
    driver: bridge
